<div class="row align-items-center">
    <div class="col-md-6">
        <h1 class="mb-4">Hey, I'm Ravi.</h1>
        <p class="lead">
            I am a North Carolina Based Event & Wedding photographer Specialized in Indian Weddings and South Indian
            Events seeking to create breath-taking imagery that turn life’s moments into works of art. I am
            passionate about telling stories and creating authentically elegant, emotionally- charged images with a
            perfect balance between candid and artistically directed pictures conveying the mood of the day.
        </p>
    </div>
    <div class="col-md-6">
        <img src="<%= aboutImage %>" alt="Ravi Photographer" class="img-fluid rounded shadow-sm">
    </div>
</div>